* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  flex-grow: 1;
  object-fit: cover;
  animation: auto linear fade both;
  animation-timeline: view();
  animation-range: entry 10% cover 20%;
}

.landscape {
  aspect-ratio: 16/9;
  height: 300px;
}

.vertical {
  aspect-ratio: 3/4;
  width: 200px;
}

body {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  gap: 10px;
  justify-content: start;
  align-items: center;
}

@keyframes fade {
  from{
    opacity: 0%;
    transform: translateY(30px);
    filter: saturate(0%)
  }

  to{
    opacity: 100%;
  }
}
